name: CI

on:
  push:
    branches:
      - master
    tags:
      - '!refs/tags/*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          source-url: https://nuget.pkg.github.com/prometheusclientnet/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GH_DEPLOY_KEY}}
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Tests
        run: dotnet test --no-restore /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      - name: Publish to Codecov
        uses: codecov/codecov-action@v1
      - name: Pack artifacts
        run: dotnet pack src/Prometheus.Client -c Release --no-build --version-suffix dev-$(date +%s) -o artifacts/
      - name: Publish artifacts
        uses: actions/upload-artifact@v2
        with:
          name: nupkg
          path: artifacts/*
      - name: Publish to GitHub
        run: dotnet nuget push "artifacts/*.nupkg" --skip-duplicate --no-symbols true
